/************************************************************************/
/************************** Style New Contact ***************************/
/************************************************************************/

.new-contact {
    background: none repeat scroll 0 0 #f9f9f9;
    border-radius: 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    box-shadow: 5px 4px 6px 2px rgba(180,180,180,0.5);
    margin: 20px 0 20px 0;
    padding: 20px 15px;
}

/************************************************************************/
/************************** End Style New Contact ***********************/
/************************************************************************/